@import "./src/assets/styles/scss/variables";
@import "./src/assets/styles/scss/mixins";

.login {
  padding: 15px;
  line-height: 1;
  font-size: 14px;

  .loginTextContainer {
    @include flex(column, normal, normal, nowrap);
    @include text($textFontFamily, 1rem, 1.5, 400);

    & b {
      @include text($textFontFamily, 1rem, 1.5, 500);
    }

    & a {
      text-decoration: none;
      color:$secondPrimaryColor;

      &:hover {
        text-shadow: $secondPrimaryColor 0 0 4px;
      }
    }
  }

  .formContainer {
    @include flex(column, normal, flex-start, nowrap);
    @include text($textFontFamily, 1rem, 1.4, 400);

    .fieldWrapper {
      display: flex;
      margin: 5px;

      .input {
        @include input();
      }

      .checkbox {
        padding: 3px 7px;
      }
    }
  }
}