@import "./src/assets/styles/scss/variables";
@import "./src/assets/styles/scss/mixins";

.default {
    @include text($textFontFamily, 1rem, 1.4, 400);
    cursor: pointer;
    background-color: $primaryColor;
    border-radius: 8px;
    padding: 8px 12px;
    min-width: 50px;
    &:hover {
        text-shadow: $textColor 0 0 4px;
        box-shadow: $primaryColor 0 0 15px;
    }
    &:active {
        background-color: $secondPrimaryColor;
    }
    &:focus {
        outline: none;
    }
    &:disabled {
        box-shadow: none;
        background-color: #a2a2a2;
        text-shadow: none;
    }
}


.red {
    @include text($textFontFamily, 1rem, 1.4, 400);
    cursor: pointer;
    background-color: $redColor;
    border-radius: 8px;
    padding: 8px 12px;
    min-width: 50px;
    &:hover {
        text-shadow: $textColor 0 0 4px;
        box-shadow: $redColor 0 0 15px;
    }
    &:active {
        margin-top: 1px;
        margin-bottom: -1px;
        zoom: 1;
    }
    &:focus {
        outline: none;
    }
    &:disabled {
        box-shadow: none;
        background-color: #a2a2a2;
        text-shadow: none;
    }
}