.pagination {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 16px;
}

.currentNumber {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 14px;
}

.selectPage {
    color: #fff;
    display: inline-block;
    font-weight: 700;
    background-color: green !important;
}

.page {
    display: inline-block;
    text-align: center;
    min-width: 45px;
    padding: 5px 0;
    font-size: 18px;
    background-color: #999;
    cursor: pointer;
}
.page:first-child {
    border-radius: 10px 0 0 10px;
}
.page:last-child {
    border-radius: 0 10px 10px 0;
}


.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    padding: 6px 12px;
    margin: 7px;
    white-space: nowrap;
}

.numberPage {
    display: inline-block;
    cursor: pointer;
}