@import "./variables";

@mixin text($font-family,$font-size, $line-height,$font-weight) {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  color: $textColor;
}

@mixin background($background-size, $background-position, $background-repeat) {
  background-size: $background-size;
  background-position: $background-position;
  background-repeat: $background-repeat;
}

@mixin flex($direction, $justifyContent, $alignItems, $wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-wrap: $wrap;
}

@mixin container() {
  width: 80%;
  margin: 0 auto;
}

@mixin textarea() {
  @include text($textFontFamily, 1rem, 1.4, 400);
  width: auto;
  min-width: 260px;
  min-height: 70px;
  padding: 8px;
  border-radius: 8px;
  resize: vertical;
  background-color: $bgSecondColor;
  border: 1px solid transparent;
  word-break: break-word;

  &:focus {
    outline: none;
    box-shadow: 0 0 10px 1px $primaryColor;
  }
}

@mixin input() {
  @include text($textFontFamily, 1rem, 1.4, 400);
  min-width: 50px;
  height: auto;
  padding: 5px 0 5px 10px;
  border-radius: 8px;
  background-color: $bgSecondColor;
  border: 1px solid transparent;
  word-break: break-word;

  &:focus {
    outline: none;
    box-shadow: 0 0 10px 1px $primaryColor;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px $secondPrimaryColor inset !important;
  }
}
