$textColor: #fff;
$primaryColor: #791894;
$secondPrimaryColor: #9d21c0;
$redColor : #b62e2e;

$bgColor: #391965;
$bgcHeaderFooter: #412880;
$bgSecondColor: #210053;

$titleFontFamily: "Jost", sans-serif;
$textFontFamily: 'Roboto', sans-serif;