.profileBlock {
    display: flex;
}

.descriptionBlock {
    padding: 10px;
}

.userPhoto {
    max-width: 200px
}

.contact{
    font-weight: lighter;
}

.contact p {
    margin: 2px;
}

.contactValue {
    padding-left: 10px;
}
